- if @current_user
  = "You are already logged in. if you want to login again, you'll need to logout first."
- else
  = render :partial => 'form'

.options
  = link_to('Create a new account', new_user_path)
  = link_to('I forgot my password', password_reset_path)
